@font-face {
	font-family: 'Ikarashi Braille';
	src: url(.././いからし点字.ttf);
}
@font-face {
	font-family: '点字線なし';
	src: url(.././BNLbrail.TTF);
}


#main_content{
  user-select: none; /* CSS3 */
  -moz-user-select: none; <!-- Firefox -->
  -ms-user-select: none;  <!-- Internet Explorer -->
  -khtml-user-select: none; <!-- KHTML browsers (e.g. Konqueror) -->
  -webkit-user-select: none; <!-- Chrome, Safari, and Opera -->
  -webkit-touch-callout: none; <!-- Disable Android and iOS callouts -->

}

.aplication_area{
	margin : 10px 0px 0px 10px;
}
.aplication_area input[type=radio],
.aplication_area input[type=file],
.aplication_area input[type="checkbox"]{
  display: none;
}

.aplication_area input[type="radio"] + label:hover{
	background-color: #E2EDF9; 	/* マウスオーバー時の背景色を指定する */
}

.aplication_area input[type=text]:hover {
  border-color: #0171bd;	/* ボックスの境界線を実線で指定する */
}

/*
 カスタムチェックボックス
*/

.custom_check_label {
	position: relative;		/* ボックスの位置を指定する */
	padding: 0 0 0 42px;	/* ボックス内側の余白を指定する */
}
.custom_check_label:hover:after {
	border-color: #0171bd;	/* ボックスの境界線を実線で指定する */
}
.custom_check_label:after,  .custom_check_label:before{
	position: absolute;	/* ボックスの位置を指定する */
	content: "";		/* ボックスのコンテンツ */
	display: block;		/* ブロックレベル要素化する */
	top: 50%;			/* 上部から配置の基準位置を決める */
}
.custom_check_label:after {
	left: 15px;			/* 左から配置の基準位置を決める */
	margin-top: -9px;	/* チェック枠の位置 */
	width: 20px;		/* ボックスの横幅を指定する */
	height: 20px;		/* ボックスの高さを指定する */
	border: 2px solid #ccc;	/* ボックスの境界線を実線で指定する */
	border-radius: 6px;		/* ボックスの角丸を指定する */
}
.custom_check_label:before {
	left: 22px;			/* 左から配置の基準位置を決める */
	margin-top: -5px;	/* チェックマークの位置 */
	width: 7px;			/* ボックスの横幅を指定する */
	height: 13px;		/* ボックスの高さを指定する */
	border-right: 3px solid #0171bd;	/* 境界線（右）のスタイルを指定する */
	border-bottom: 3px solid #0171bd;	/* 境界線（下）のスタイルを指定する */
	transform: rotate(45deg);	/* 要素を回転させる */
	opacity: 0;			/* 要素を透過指定する */
}
input[type=checkbox]:checked + .custom_check_label:before {
	opacity: 1;		/* 要素を表示する */
}

/**************
top_contents
***************/
#top_contents{
	margin : 0px 0px 20px 0px;
}

#top_contents span{
	margin : 0px 30px 0px 0px;
}

#downloader a{
	margin : 0px 30px 0px 0px;
	font-size : 18px;
}

#top_contents input[type="radio"] + label{
  padding: 1px 10px; 	/* ボックス内左側の余白を指定する */
  border: 2px solid #D2691E;/* ボックスの境界線を実線で指定する */
}

#top_contents input[type="radio"]:checked + label {
	background: #FF8C00;/* マウス選択時の背景色を指定する */
	color: #ffffff; 	/* マウス選択時のフォント色を指定する */
}

/******************
 top_toolbar
******************/
#top_toolbar input[type=text] {
	margin: 0px 20px 0px 0px;
	width: 200px;
  height: 30px;
  font-size: 100%;
}

/**************************
 left_toolbar
***************************/
#left_toolbar{
  float : left;
	margin : 0px 20px 0px 0px;
}

#left_toolbar input[type="radio"] + label{
	margin: 0px 0px 20px 0px;
	padding: 5px 15px; 	/* ボックス内左側の余白を指定する */
  border: 2px solid #006DD9;/* ボックスの境界線を実線で指定する */
}

#left_toolbar input[type="radio"]:checked + label {
	background: #31A9EE;/* マウス選択時の背景色を指定する */
	color: #ffffff; 	/* マウス選択時のフォント色を指定する */
}

#left_toolbar input[type="button"]{
	margin: 0px 0px 20px 0px;
}

#left_toolbar_button{
	margin: 20px 0px 20px 0px;
}

#node_connect{
	background-color: #C0C0C0;
  border: solid 2px #696969;
  border-radius : 20px;
  padding : 3px;
  width:150px;
  height:30px;
  font-size: 14px;
}

#distance_check_button , #trans ,#straight_connect_button{
  cursor : pointer;
  background-color : #E2EDF9;
  border: 2px solid orange;/* ボックスの境界線を実線で指定する */
  border-radius : 20px;
  padding : 3px;
  width:150px;
  height:30px;
  font-size: 14px;
}

#distance_check_button:hover , #trans:hover ,#straight_connect_button:hover{
  background : #31A9EE;
}

#left_toolbar input[type="checkbox"] + label{
	margin: 0px 0px 20px 0px;
}

#left_toolbar_checkbox{
  margin: 20px 0px 0px -10px;
}


/***************
svg描画領域
***************/
#draw_include{
  width:1039.5px;
  height:735px;
  float:left;
  border:#00f 3px solid;
  overflow:hidden;
}

/**************************
right toolbar
**************************/
#right_toolbar{
  float:left;
  margin:0px 0px 0px 30px;
}

#undo_redo_table button{
	margin : 0px 10px 0px 15px;
	width:50px;
  height:40px;
  font-size: 100%;
  background-color: #E2EDF9;
  border: 2px solid #FFA500;/* ボックスの境界線を実線で指定する */
  border-radius : 20px;
  cursor : pointer;
}

#undo_redo_table button:hover{
  background: #31A9EE;/* マウス選択時の背景色を指定する */
}

/********************
線種変更ラジオボタン
********************/

.stroke_style label{
  padding: 0px 25px;	/* ボックス内左側の余白を指定する */
  border: 2px solid #006DD9;/* ボックスの境界線を実線で指定する */
}

.stroke_style input[type="radio"]:checked + label {
	background: #31A9EE;/* マウス選択時の背景色を指定する */
	color: #ffffff; 	/* マウス選択時のフォント色を指定する */
}

/********************************************
線幅、墨字、点字、画像透過度変更用スライダー設定
********************************************/
#rightUI_table,
#undo_redo_table,
#layer_table,
#select_fill_table{
	margin : 0px 0px 10px 0px;
}

#rightUI_table td{
	padding : 5px 0px;
	text-align: center;
}

#rightUI_table input[type="text"]{
  width:30px;
  height:20px;
  font-size: 100%;
}

#StrokeWidth_Slider,
#resizeInk_Slider,
#resizeBraille_Slider,
#ImageOpacity_Slider{ /* css */
  width:180px;
  height:12px;
}

#StrokeWidth_Slider .ui-slider-handle,
#resizeInk_Slider .ui-slider-handle,
#resizeBraille_Slider .ui-slider-handle,
#ImageOpacity_Slider .ui-slider-handle{
  width:20px;
  height:16px;
  background:#3399ff;
  border:3px solid #00008b;
	margin : 2px 0px 0px -10px;
}

/*
ドローラインモード塗りつぶしラジオボタン
*/
.draw_fill_table td,
.draw_fill_table th{
	text-align: center;
	border: 0.5px solid;
}

.draw_fill_table th{
	background-color : #ccff00;
}

#draw_fill_table input[type="radio"] + label{
  border: 2.5px solid #003300;/* ボックスの境界線を実線で指定する */
	width : 80px;
	height : 40px;
	background-color : #ffffff;
  background-position:center center; /*背景画像の位置*/
	margin : 2px;
	padding : 5px;
}

#draw_fill_table input[type="radio"]:hover + label{
  border-color: #006DD9;/* ボックスの境界線を実線で指定する */
}

#draw_fill_table input[type="radio"]:checked + label {
	border-color: orange;/* ボックスの境界線を実線で指定する */
}

#draw_fill_diagonal + label{
  background-image: url('../images/diagonal.png');
}

#draw_fill_white + label{
  background-image: url('../images/white.png');
}

#draw_fill_gray + label{
  background-image: url('../images/gray.png');
}

#draw_fill_black + label{
  background-image: url('../images/black.png');
}

#draw_fill_polkadot + label{
  background-image: url('../images/polkadot.png');
}

#draw_fill_polkadot_water + label{
  background-image: url('../images/polkadot_water.png');
}



/*
触知記号スタンプ
*/
#stamp_table{
	width:200px;
}

#stamp_table td,
#stamp_table th{
	border: 0.5px solid;
	text-align: center;
	padding : 4px;
}

#stamp_table th{
	background-color: #ccff00
}

#stamp_table input[type="radio"] + label{
  padding: 5px 15px; 	/* ボックス内左側の余白を指定する */
	width: 150px;
  border: 2px solid #003300;/* ボックスの境界線を実線で指定する */
}

#stamp_table input[type="radio"]:checked + label {
	background: #009933;/* マウス選択時の背景色を指定する */
	color: #ffffff; 	/* マウス選択時のフォント色を指定する */
}
/**
	スタンプの表の中のテキストボックス
	墨字や点字を入力する
**/
#stamp_table input[type="text"]{
	width: 80px;
	height: 40px;
}

/*
レイヤ移動ボタン
*/

#layer_table td,
#layer_table th{
	padding: 3px;
	text-align: center;
	border: 0.5px solid;
}

#layer_table th{
	background-color: #ccff00;
}


#layer_table button{
	width:80px;
  height:30px;
  background-color : #ffffff;
  background-position:center center; /*背景画像の位置*/
  background-repeat:no-repeat; /*背景画像の繰り返し*/
  background-size: contain; /*背景画像のサイズ設定*/
}

#layer_table button:hover{
  border-color: #006DD9;/* ボックスの境界線を実線で指定する */
}

#front_button{
  background-image: url('../images/front.png');
}

#forward_button{
  background-image: url('../images/forward.png');
}

#backward_button{
  background-image: url('../images/backward.png');
}

#back_button{
  background-image: url('../images/back.png');
}

/************************
塗りつぶしボタン
*************************/

#select_fill_table button:hover{
  border-color: #006DD9;/* ボックスの境界線を実線で指定する */
}

#select_fill_table button{
  width:80px;
  height:30px;
  background-color: #ffffff;
  background-position:center center; /*背景画像の位置*/
  background-repeat:no-repeat; /*背景画像の繰り返し*/
}

#select_fill_table td,
#select_fill_table th{
  padding: 3px;
	text-align: center;
	border: 0.5px solid;
}

#select_fill_table th{
	background-color: #ccff00;
}

#select_fill_table #diagonal_button{
  background-image: url('../images/diagonal.png');
}

#select_fill_table #white_button{
  background-image: url('../images/white.png');
}

#select_fill_table #gray_button{
  background-image: url('../images/gray.png');
}

#select_fill_table #black_button{
  background-image: url('../images/black.png');
}

#select_fill_table #polkadot_button{
  background-image: url('../images/polkadot.png');
}

#select_fill_table #polkadot_water_button{
  background-image: url('../images/polkadot_water.png');
}

/***********************************
選択状態ボックス変更テキストボックス
************************************/
.resizeBox_textbox{
	margin: 0px 0px 30px 10px;
}

.resizeBox_textbox td{
	padding: 5px;
}

.resizeBox_textbox input[type="text"]{
  width:90px;
  height:30px;
  text-align: center;
	font-size : 100%;
}

#svg_width_scrollbar{ /* css */
  margin :0px 0px 0px 170px;
  width:1040px;
  height:12px;
}

#svg_height_scrollbar{ /* css */
  margin-left:10px;
  width:12px;
  height:735px;
  float:left;
}
