@font-face {
	font-family: 'Ikarashi Braille';
	src: url(.././いからし点字.ttf);
}
@font-face {
	font-family: '点字線なし';
	src: url(.././BNLbrail.TTF);
}


.main_content{
  user-select: none; /* CSS3 */
  -moz-user-select: none; <!-- Firefox -->
  -ms-user-select: none;  <!-- Internet Explorer -->
  -khtml-user-select: none; <!-- KHTML browsers (e.g. Konqueror) -->
  -webkit-user-select: none; <!-- Chrome, Safari, and Opera -->
  -webkit-touch-callout: none; <!-- Disable Android and iOS callouts -->

}

.application_area{
	width:1550px;
	height:auto;
	margin : 10px 0px 0px 10px;
	position:absolute;
}
.application_area input[type=radio],
.application_area input[type=file],
.application_area input[type="checkbox"],
#option input[type=radio],
#option input[type=file],
#option input[type="checkbox"]{
  display: none;
}

.application_area input[type="radio"] + label:hover,
#option input[type="radio"] + label:hover{
	background-color: #E2EDF9; 	/* マウスオーバー時の背景色を指定する */
}

.application_area input[type=text]:hover {
  border-color: #0171bd;	/* ボックスの境界線を実線で指定する */
}

/*
 カスタムチェックボックス
*/

.custom_check_label {
	position: relative;		/* ボックスの位置を指定する */
	padding: 0 0 0 42px;	/* ボックス内側の余白を指定する */
}
.custom_check_label:hover:after {
	border-color: #0171bd;	/* ボックスの境界線を実線で指定する */
}
.custom_check_label:after,  .custom_check_label:before{
	position: absolute;	/* ボックスの位置を指定する */
	content: "";		/* ボックスのコンテンツ */
	display: block;		/* ブロックレベル要素化する */
	top: 50%;			/* 上部から配置の基準位置を決める */
}
.custom_check_label:after {
	left: 15px;			/* 左から配置の基準位置を決める */
	margin-top: -9px;	/* チェック枠の位置 */
	width: 20px;		/* ボックスの横幅を指定する */
	height: 20px;		/* ボックスの高さを指定する */
	border: 2px solid #ccc;	/* ボックスの境界線を実線で指定する */
	border-radius: 6px;		/* ボックスの角丸を指定する */
}
.custom_check_label:before {
	left: 22px;			/* 左から配置の基準位置を決める */
	margin-top: -5px;	/* チェックマークの位置 */
	width: 7px;			/* ボックスの横幅を指定する */
	height: 13px;		/* ボックスの高さを指定する */
	border-right: 3px solid #0171bd;	/* 境界線（右）のスタイルを指定する */
	border-bottom: 3px solid #0171bd;	/* 境界線（下）のスタイルを指定する */
	transform: rotate(45deg);	/* 要素を回転させる */
	opacity: 0;			/* 要素を透過指定する */
}
input[type=checkbox]:checked + .custom_check_label:before {
	opacity: 1;		/* 要素を表示する */
}

/**************
top_contents
***************/
#top_contents{
	margin : 0px 0px 20px 0px;
}

#top_contents span{
	margin : 0px 30px 0px 0px;
}

.downloader a{
	/*margin : 0px 30px 0px 0px; */
	font-size : 18px;
}

#option input[type="radio"] + label{
  padding: 1px 10px; 	/* ボックス内左側の余白を指定する */
  border: 2px solid #D2691E;/* ボックスの境界線を実線で指定する */
	cursor: pointer;
}

#option input[type="radio"]:checked + label {
	background: #FF8C00;/* マウス選択時の背景色を指定する */
	color: #ffffff; 	/* マウス選択時のフォント色を指定する */
}

#option div{
	margin: 10px 10px;
}

/******************
 top_toolbar
******************/
#top_toolbar input[type=text] {
	margin: 0px 20px 0px 0px;
	width: 200px;
  height: 30px;
  font-size: 100%;
}

/**************************
 left_toolbar
***************************/
.left_toolbar{
  float : left;
	margin : 0px 20px 0px 0px;
}

.left_toolbar input[type="radio"] + label{
	margin: 0px 0px 15px 0px;
	padding: 10px 15px; 	/* ボックス内左側の余白を指定する */
  border: 2px solid #006DD9;/* ボックスの境界線を実線で指定する */
	width: 130px;
	text-align: center;
	cursor: pointer;
}

.left_toolbar input[type="radio"]:checked + label {
	background: #31A9EE;/* マウス選択時の背景色を指定する */
	color: #ffffff; 	/* マウス選択時のフォント色を指定する */
}

.left_toolbar_button{
	margin: 20px 0px 0px 0px;
}

#node_connect{
	background-color: #C0C0C0;
  border: solid 2px #696969;
  border-radius : 20px;
  padding : 3px;
  width:150px;
  height:30px;
  font-size: 14px;
}

#distance_check_button , #trans ,#straight_connect_button{
  cursor : pointer;
  background-color : #E2EDF9;
  border: 2px solid orange;/* ボックスの境界線を実線で指定する */
  border-radius : 20px;
  padding : 3px;
  width:150px;
  height:30px;
  font-size: 14px;
}

#distance_check_button:hover , #trans:hover ,#straight_connect_button:hover{
  background : #31A9EE;
}

.left_toolbar input[type="checkbox"] + label{
	margin: 0px 0px 30px 0px;
	cursor: pointer;
}

.checkboxes{
  margin: 20px 0px 0px -10px;
}

#table_output td,
#table_output th{
	padding : 5px;
	text-align: center;
	border: 0.5px solid;
}
#table_output th{
	background-color : #ccff00;
}


/***************
svg描画領域
***************/
#draw_include{
  width:1039.5px;
  height:735px;
  float:left;
  border:#00f 3px solid;
  overflow:hidden;
}

/**************************
right toolbar
**************************/
.toolbar_right{
  float:left;
  margin:0px 0px 0px 30px;
}

#table_undo_redo button{
	margin : 0px 10px 0px 15px;
	width:50px;
  height:40px;
  font-size: 100%;
  background-color: #E2EDF9;
  border: 2px solid #FFA500;/* ボックスの境界線を実線で指定する */
  border-radius : 20px;
  cursor : pointer;
}

#table_undo_redo button:hover{
  background: #31A9EE;/* マウス選択時の背景色を指定する */
}

/********************************************
線幅、墨字、点字、画像透過度変更用スライダー設定
********************************************/
#table_stroke_option,
#table_text,
#table_undo_redo,
#table_layer,
#table_select_fill,
#table_draw_fill{
	margin : 0px 0px 5px 0px;
}

#table_stroke_option,
#table_text,
#table_layer,
#table_select_fill,
#table_draw_fill,
#table_stamp{
	width : 200px;
}

#table_stroke_option label{
  padding: 0px 28px;	/* ボックス内左側の余白を指定する */
  border: 2px solid #006DD9;/* ボックスの境界線を実線で指定する */
	cursor: pointer;
}

#table_stroke_option input[type="radio"]:checked + label {
	background: #31A9EE;/* マウス選択時の背景色を指定する */
	color: #ffffff; 	/* マウス選択時のフォント色を指定する */
}

#table_stroke_option button,
#table_text button{
	cursor: pointer;
}

#custom_stroke_color{
	width: 100px;
	cursor: pointer;
}

#table_text tr,
#table_stroke_option tr{
	border: 0.5px solid;
}

#table_stroke_option td,
#table_stroke_option th{
	padding : 5px 0px;
	text-align: center;
}

#table_text td,
#table_text th{
	padding : 5px;
	text-align: center;
}

#textbox_text_info{
	width:100px;
	height:30px;
}

#table_stroke_option th,
#table_text th{
	background-color : #ccff00;
}

#table_text input[type="text"],
#table_stroke_option input[type="text"]{
  width:30px;
  height:20px;
  font-size: 100%;
}

/*
ドローラインモード塗りつぶしラジオボタン
*/
.table_draw_fill td,
.table_draw_fill th{
	text-align: center;
	border: 0.5px solid;
}

.table_draw_fill th{
	background-color : #ccff00;
}

#table_draw_fill input[type="radio"] + label{
  border: 2.5px solid #003300;/* ボックスの境界線を実線で指定する */
	width : 80px;
	height : 40px;
	background-color : #ffffff;
  background-position:center center; /*背景画像の位置*/
	margin : 2px;
	padding : 5px;
	cursor: pointer;
}

#table_draw_fill input[type="radio"]:hover + label{
  border-color: #006DD9;/* ボックスの境界線を実線で指定する */
}

#table_draw_fill input[type="radio"]:checked + label {
	border-color: orange;/* ボックスの境界線を実線で指定する */
}

#draw_fill_diagonal + label{
  background-image: url('../images/diagonal.png');
}

#draw_fill_white + label{
  background-image: url('../images/white.png');
}

#draw_fill_gray + label{
  background-image: url('../images/gray.png');
}

#draw_fill_black + label{
  background-image: url('../images/black.png');
}

#draw_fill_polkadot + label{
  background-image: url('../images/polkadot.png');
}

#draw_fill_polkadot_water + label{
  background-image: url('../images/polkadot_water.png');
}

#draw_fill_color{
	width:80px;
	height:20px;
	cursor: pointer;
}

/*
触知記号スタンプ
*/


#table_stamp td,
#table_stamp th{
	border: 0.5px solid;
	text-align: center;
	padding : 4px;
}

#table_stamp th{
	background-color: #ccff00
}

#table_stamp input[type="radio"] + label{
  padding: 5px 15px; 	/* ボックス内左側の余白を指定する */
	width: 150px;
  border: 2px solid #003300;/* ボックスの境界線を実線で指定する */
	cursor: pointer;
}

#table_stamp input[type="radio"]:checked + label {
	background: #009933;/* マウス選択時の背景色を指定する */
	color: #ffffff; 	/* マウス選択時のフォント色を指定する */
}
/**
	スタンプの表の中のテキストボックス
	墨字や点字を入力する
**/
#table_stamp input[type="text"]{
	width: 80px;
	height: 40px;
}

/*
レイヤ移動ボタン
*/

#table_layer td,
#table_layer th{
	padding: 3px;
	text-align: center;
	border: 0.5px solid;
}

#table_layer th{
	background-color: #ccff00;
}


#table_layer button{
	width:80px;
  height:30px;
  background-color : #ffffff;
  background-position:center center; /*背景画像の位置*/
  background-repeat:no-repeat; /*背景画像の繰り返し*/
  background-size: contain; /*背景画像のサイズ設定*/
	cursor: pointer;
}

#table_layer button:hover{
  border-color: #006DD9;/* ボックスの境界線を実線で指定する */
}

#button_front{
  background-image: url('../images/front.png');
}

#button_forward{
  background-image: url('../images/forward.png');
}

#button_backward{
  background-image: url('../images/backward.png');
}

#button_back{
  background-image: url('../images/back.png');
}

/************************
塗りつぶしボタン
*************************/

#table_select_fill button:hover{
  border-color: #006DD9;/* ボックスの境界線を実線で指定する */
}

#table_select_fill button{
  width:80px;
  height:30px;
  background-color: #ffffff;
  background-position:center center; /*背景画像の位置*/
  background-repeat:no-repeat; /*背景画像の繰り返し*/
	cursor: pointer;
}

#table_select_fill td,
#table_select_fill th{
  padding: 3px;
	text-align: center;
	border: 0.5px solid;
}

#table_select_fill th{
	background-color: #ccff00;
}

#table_select_fill #button_diagonal{
  background-image: url('../images/diagonal.png');
}

#table_select_fill #button_white{
  background-image: url('../images/white.png');
}

#table_select_fill #button_gray{
  background-image: url('../images/gray.png');
}

#table_select_fill #button_black{
  background-image: url('../images/black.png');
}

#table_select_fill #button_polkadot{
  background-image: url('../images/polkadot.png');
}

#table_select_fill #button_polkadot_water{
  background-image: url('../images/polkadot_water.png');
}

#custom_fill_color{
	width:80px;
	height:20px;
	cursor: pointer;
}

/***********************************
選択状態ボックス変更テキストボックス
************************************/
.resizeBox_textbox{
	margin: 0px 0px 0px 10px;
}

.resizeBox_textbox td{
	padding: 5px;
}

.resizeBox_textbox input[type="text"]{
  width:90px;
  height:30px;
  text-align: center;
	font-size : 100%;
}

#scrollbar_width{ /* css */
  margin :0px 0px 0px 170px;
  width:1040px;
  height:12px;
	clear:both;
}

#scrollbar_height{ /* css */
  margin-left:10px;
  width:12px;
  height:735px;
  float:left;
}

#Button_option{
  cursor : pointer;
  background-color : oldlace;
  border: 2px solid crimson;/* ボックスの境界線を実線で指定する */
  padding : 7px;
}

#Button_option:hover{
  background : lightsalmon;
}

#background{
	position:absolute;
	background-color: rgba(255,255,255,0.8);
	top: 0px;
  right: 0px;
  bottom: 0px;
  left: 0px;
  margin: auto;
	z-index: 5px;
}

#option{
	position:absolute;
	width: 950px;
	height: 750px;
	background-color: rgba(220 , 220 , 220,0.6);
	top: 0px;
  right: 0px;
  bottom: 0px;
  left: 0px;
  margin: auto;
	z-index: 10px;
	font-size: 150%;
}

#table_option{
	margin : 50px 0px 0px 100px;
}

.op_title{
	background-color: lightgreen;
}

#table_option td{
	padding : 10px 3px;
}

#table_option td:not(.op_title){
	background-color: white;
}



#start_message{
	position:absolute;
	width: 750px;
	height: 450px;
	background-color: rgba(106,255,255,0.5);
	top: 0px;
  right: 0px;
  bottom: 0px;
  left: 0px;
  margin: auto;
	z-index: 10px;
}

#start_message p{
	color: #000;
	font-size: 20px;
	margin: 20px;
}

.button_wrapper{
	text-align:center;
}

#MessageHidden , #button_option_hide{
	width: auto;
	height: 50px;
	cursor: pointer;
}
