

#main_content{
  user-select: none; /* CSS3 */
  -moz-user-select: none; <!-- Firefox -->
  -ms-user-select: none;  <!-- Internet Explorer -->
  -khtml-user-select: none; <!-- KHTML browsers (e.g. Konqueror) -->
  -webkit-user-select: none; <!-- Chrome, Safari, and Opera -->
  -webkit-touch-callout: none; <!-- Disable Android and iOS callouts -->
}


/**
header
**/

#header input[type=radio] {
	display: none; 	/* ラジオボタンを非表示にする */
}

#header input[type="radio"] + label{
  padding: 1px 10px; 	/* ボックス内左側の余白を指定する */
  border: 2px solid #D2691E;/* ボックスの境界線を実線で指定する */
}

#header input[type="radio"]:checked + label {
	background: #FF8C00;/* マウス選択時の背景色を指定する */
	color: #ffffff; 	/* マウス選択時のフォント色を指定する */
}

#header label:hover{
	background-color: #E2EDF9; 	/* マウスオーバー時の背景色を指定する */
}


/**
線種変更ラジオボタン
**/

#stroke_style  label{
  padding-left: 25px;	/* ボックス内左側の余白を指定する */
  padding-right: 25px;
  border: 2px solid #006DD9;/* ボックスの境界線を実線で指定する */
}

#stroke_style input[type="radio"]:checked + label {
	background: #31A9EE;/* マウス選択時の背景色を指定する */
	color: #ffffff; 	/* マウス選択時のフォント色を指定する */
}

#stroke_style label:hover {
	background-color: #E2EDF9; 	/* マウスオーバー時の背景色を指定する */
}

/**
レイヤー移動ボタン
**/
#layer_select  button{
}

/**************************
 toolbar1のcss
***************************/
#toolbar1{
  margin : 10px 175px;
}

#toolbar1 input[type=radio] {
	display: none; 	/* ラジオボタンを非表示にする */
}

#toolbar1 input[type="radio"] + label{
  padding: 5px 15px; 	/* ボックス内左側の余白を指定する */
  border: 2px solid #006DD9;/* ボックスの境界線を実線で指定する */
}

#toolbar1 input[type="radio"]:checked + label {
	background: #31A9EE;/* マウス選択時の背景色を指定する */
	color: #ffffff; 	/* マウス選択時のフォント色を指定する */
}

.radio_label:hover {
	background-color: #E2EDF9; 	/* マウスオーバー時の背景色を指定する */
}

/*
 text ink & braille checkbox or textbox
*/

#toolbar1 input[type="checkbox"]{
  display: none;
}

.sample_label {
	position: relative;		/* ボックスの位置を指定する */
	padding: 0 0 0 42px;	/* ボックス内側の余白を指定する */
}
.sample_label:hover:after {
	border-color: #0171bd;	/* ボックスの境界線を実線で指定する */
}
.sample_label:after,  .sample_label:before{
	position: absolute;	/* ボックスの位置を指定する */
	content: "";		/* ボックスのコンテンツ */
	display: block;		/* ブロックレベル要素化する */
	top: 50%;			/* 上部から配置の基準位置を決める */
}
.sample_label:after {
	left: 15px;			/* 左から配置の基準位置を決める */
	margin-top: -10px;	/* チェック枠の位置 */
	width: 15px;		/* ボックスの横幅を指定する */
	height: 15px;		/* ボックスの高さを指定する */
	border: 2px solid #ccc;	/* ボックスの境界線を実線で指定する */
	border-radius: 6px;		/* ボックスの角丸を指定する */
}
.sample_label:before {
	left: 21px;			/* 左から配置の基準位置を決める */
	margin-top: -7px;	/* チェックマークの位置 */
	width: 5px;			/* ボックスの横幅を指定する */
	height: 9px;		/* ボックスの高さを指定する */
	border-right: 3px solid #0171bd;	/* 境界線（右）のスタイルを指定する */
	border-bottom: 3px solid #0171bd;	/* 境界線（下）のスタイルを指定する */
	transform: rotate(45deg);	/* 要素を回転させる */
	opacity: 0;			/* 要素を透過指定する */
}
input[type=checkbox]:checked + .sample_label:before {
	opacity: 1;		/* 要素を表示する */
}

#toolbar1 input[type=text] {
	width: 150px;
  height: 30px;
  font-size: 100%;
}

#toolbar1 input[type=text]:hover {
  border-color: #0171bd;	/* ボックスの境界線を実線で指定する */
}

/*
 undo redo button
*/
#toolbar1 button{
  width:50px;
  height:40px;
  font-size: 100%;
  background-color: #E2EDF9;
  margin-left : 15px;
  border: 2px solid #FFA500;/* ボックスの境界線を実線で指定する */
  border-radius : 20px;
  cursor : pointer;
}

#toolbar1 button:hover{
  background: #31A9EE;/* マウス選択時の背景色を指定する */
}

#toolbar1 label:not(:first-child){
  margin-left:10px;
}


/**************************
 �c�[���o�[2
***************************/
#toolbar2{
  float : left;
  margin : 10px 0px;
}

#toolbar2 ul {
  list-style: none;
  margin-left: -40px;
}

/*
toolbar2 radio button
*/

#toolbar2_radio div {
  margin-bottom: 30px;
}

#toolbar2_radio input[type=radio] {
	display: none; 	/* ラジオボタンを非表示にする */
}

#toolbar2_radio input[type="radio"] + label{
  padding: 5px 15px; 	/* ボックス内左側の余白を指定する */
  border: 2px solid #006DD9;/* ボックスの境界線を実線で指定する */
  margin-right : 40px;
}

#toolbar2_radio input[type="radio"]:checked + label {
	background: #31A9EE;/* マウス選択時の背景色を指定する */
	color: #ffffff; 	/* マウス選択時のフォント色を指定する */
}

#toolbar2_radio label:hover{
	background-color: #E2EDF9; 	/* マウスオーバー時の背景色を指定する */
}

#toolbar2_radio #node_connect{
  background-color: #C0C0C0;
  border: solid 2px #696969;
  border-radius : 20px;
  padding : 3px;
  width:150px;
  height:30px;
  font-size: 14px;
}

#distance_check_button , #trans{
  cursor : pointer;
  background-color : #E2EDF9;
  border: 2px solid orange;/* ボックスの境界線を実線で指定する */
  border-radius : 20px;
  padding : 3px;
  width:150px;
  height:30px;
  font-size: 14px;
}

#distance_check_button:hover , #trans:hover{
  background : #31A9EE;
}


/*
toolbar2 checkbox
*/
#toolbar2 input[type="checkbox"]{
  display: none;
}

#toolbar2_checkbox{
  margin-top : 50px;
  margin-left : -10px;
}

#toolbar2_checkbox div{
  margin-bottom: 15px;
  font-size : 18px;
}

/* �`���̈� */
#draw_include{
  width:1039.5px;
  height:735px;
  float:left;
  margin-bottom:10px;
  border:#00f 3px solid;
  overflow:hidden;
}

/**************************
�E�ۃR���e���c
**************************/
#right_content{
  float:left;
  margin-left:30px;
}

.br::before {
 content: "\A" ;
 white-space: pre ;
}

/*
選択状態ボックス変更テキストボックス
*/

#resizeBox_textbox{
  margin-left : 5px;
}

#resizeBox_textbox input[type="text"]{
  width:80px;
  height:20px;
  text-align: center;
  margin-bottom:20px;
  margin-right : 5px;
}

#rb_width{
  margin-left : 15px;
}

/*
レイヤ移動ボタン
*/
#layer_select button{
  width:90px;
  height:32px;
  background-color : #ffffff;
  background-position:center center; /*背景画像の位置*/
  background-repeat:no-repeat; /*背景画像の繰り返し*/
  background-size: contain; /*背景画像のサイズ設定*/
}

#layer_select button:hover{
  border-color: #006DD9;/* ボックスの境界線を実線で指定する */
}

#layer_select #front_button{
  background-image: url('../images/front.png');
}

#layer_select #forward_button{
  background-image: url('../images/forward.png');
}

#layer_select #backward_button{
  background-image: url('../images/backward.png');
}

#layer_select #back_button{
  background-image: url('../images/back.png');
}

/*
線種変更ラジオボタン
*/
#stroke_style input[type="radio"]{
  display : none;
}

/*
線幅、墨字、点字サイズ変更ガジェット
*/
#right_ul {
  list-style: none;
  margin-left : -35px;
}

#right_ul li{
  margin : 30px 0px;
}

#right_ul #inksize_resetbutton , #brasize_resetbutton{
  margin-left : 13px;
}

#right_ul input[type="text"]{
  width:30px;
  height:20px;
  font-size:14px;
  margin:0px 10px;
  margin-bottom : 10px;
}


/************************
塗りつぶしボタン
*************************/

#fill_change button:hover{
  border-color: #006DD9;/* ボックスの境界線を実線で指定する */
}

#fill_change button{
   width:80px;
   height:30px;
   background-color: #ffffff;
   background-position:center center; /*背景画像の位置*/
   background-repeat:no-repeat; /*背景画像の繰り返し*/

}

#fill_change td{
  padding: 7px 8px;
}

#fill_change #diagonal_button{
  background-image: url('../images/diagonal.png');
}

#fill_change #white_button{
  background-image: url('../images/white.png');
}

#fill_change #gray_button{
  background-image: url('../images/gray.png');
}

#fill_change #polkadot_button{
  background-image: url('../images/polkadot.png');
}

#fill_change #polkadot_water_button{
  background-image: url('../images/polkadot_water.png');
}

/*
slider設定
*/

#StrokeWidth_Slider{ /* css �܂݃T�C�Y���� */
  width:180px;
  height:12px;
}

#StrokeWidth_Slider .ui-slider-handle{
  width:20px;
  height:16px;
  background:#3399ff;
  border:3px solid #00008b;
}

#resizeInk_Slider{ /* css �܂݃T�C�Y���� */
  width:180px;
  height:12px;
}

#resizeInk_Slider .ui-slider-handle{
  width:20px;
  height:16px;
  background:#3399ff;
  border:3px solid #00008b;
}

#resizeBraille_Slider{ /* css �܂݃T�C�Y���� */
  width:180px;
  height:12px;
}

#resizeBraille_Slider .ui-slider-handle{
  width:20px;
  height:16px;
  background:#3399ff;
  border:3px solid #00008b;
}




#width_slider{ /* css �܂݃T�C�Y���� */
  margin-top:30px;
  margin-left:185px;
  width:1045px;
  height:12px;
}

#width_slider .ui-slider-handle{
  margin-left:-60px;
  width:120px;
  height:16px;
  background:#3399ff;
  border:3px solid #00008b;
}

#height_slider{ /* css �܂݃T�C�Y���� */
  margin-left:10px;
  width:12px;
  height:735px;
  float:left;
}

#height_slider .ui-slider-handle{
  margin-bottom: -60px;
  width:16px;
  height:120px;
  background:#3399ff;
  border:3px solid #00008b;
}
