@font-face {
	font-family: 'Ikarashi Braille';
	src: url(.././いからし点字.ttf);
}
@font-face {
	font-family: '点字線なし';
	src: url(.././BNLbrail.ttf);
}

#main_content{
  user-select: none; /* CSS3 */
  -moz-user-select: none; <!-- Firefox -->
  -ms-user-select: none;  <!-- Internet Explorer -->
  -khtml-user-select: none; <!-- KHTML browsers (e.g. Konqueror) -->
  -webkit-user-select: none; <!-- Chrome, Safari, and Opera -->
  -webkit-touch-callout: none; <!-- Disable Android and iOS callouts -->

}

.container-fluid{
	margin-top : 10px;
}
.container-fluid input[type=radio],
.container-fluid input[type=file],
.container-fluid input[type="checkbox"]{
  display: none;
}

.container-fluid input[type="radio"] + label:hover{
	background-color: #E2EDF9; 	/* マウスオーバー時の背景色を指定する */
}

.container-fluid input[type=text]:hover {
  border-color: #0171bd;	/* ボックスの境界線を実線で指定する */
}

/*
 カスタムチェックボックス
*/

.custom_check_label {
	position: relative;		/* ボックスの位置を指定する */
	padding: 0 0 0 42px;	/* ボックス内側の余白を指定する */
}
.custom_check_label:hover:after {
	border-color: #0171bd;	/* ボックスの境界線を実線で指定する */
}
.custom_check_label:after,  .custom_check_label:before{
	position: absolute;	/* ボックスの位置を指定する */
	content: "";		/* ボックスのコンテンツ */
	display: block;		/* ブロックレベル要素化する */
	top: 50%;			/* 上部から配置の基準位置を決める */
}
.custom_check_label:after {
	left: 15px;			/* 左から配置の基準位置を決める */
	margin-top: -9px;	/* チェック枠の位置 */
	width: 20px;		/* ボックスの横幅を指定する */
	height: 20px;		/* ボックスの高さを指定する */
	border: 2px solid #ccc;	/* ボックスの境界線を実線で指定する */
	border-radius: 6px;		/* ボックスの角丸を指定する */
}
.custom_check_label:before {
	left: 22px;			/* 左から配置の基準位置を決める */
	margin-top: -5px;	/* チェックマークの位置 */
	width: 7px;			/* ボックスの横幅を指定する */
	height: 13px;		/* ボックスの高さを指定する */
	border-right: 3px solid #0171bd;	/* 境界線（右）のスタイルを指定する */
	border-bottom: 3px solid #0171bd;	/* 境界線（下）のスタイルを指定する */
	transform: rotate(45deg);	/* 要素を回転させる */
	opacity: 0;			/* 要素を透過指定する */
}
input[type=checkbox]:checked + .custom_check_label:before {
	opacity: 1;		/* 要素を表示する */
}

/**************
top_contents
***************/
#top_contents span{
	margin : 0px 30px 0px 0px;
}

#downloader a{
	margin : 0px 30px 0px 0px;
}

#top_contents input[type="radio"] + label{
  padding: 1px 10px; 	/* ボックス内左側の余白を指定する */
  border: 2px solid #D2691E;/* ボックスの境界線を実線で指定する */
}

#top_contents input[type="radio"]:checked + label {
	background: #FF8C00;/* マウス選択時の背景色を指定する */
	color: #ffffff; 	/* マウス選択時のフォント色を指定する */
}

/******************
 top_toolbar
******************/
#top_toolbar{
  margin : 10px 0px 10px 170px;
}

#top_toolbar input[type="radio"] + label{
	margin: 0px 20px 0px 0px;
	padding: 5px 15px; 	/* ボックス内左側の余白を指定する */
  border: 2px solid #006DD9;/* ボックスの境界線を実線で指定する */
}

#top_toolbar input[type="radio"]:checked + label {
	background: #31A9EE;/* マウス選択時の背景色を指定する */
	color: #ffffff; 	/* マウス選択時のフォント色を指定する */
}

#top_toolbar input[type=text] {
	margin: 0px 20px 0px 0px;
	width: 200px;
  height: 30px;
  font-size: 100%;
}

#top_toolbar button{
	margin: 0px 20px 0px 15px;
	width:50px;
  height:40px;
  font-size: 100%;
  background-color: #E2EDF9;
  border: 2px solid #FFA500;/* ボックスの境界線を実線で指定する */
  border-radius : 20px;
  cursor : pointer;
}

#top_toolbar button:hover{
  background: #31A9EE;/* マウス選択時の背景色を指定する */
}

/**************************
 left_toolbar
***************************/
#left_toolbar{
  float : left;
	margin : 0px 20px 0px 0px;
}

#left_toolbar input[type="radio"] + label{
	margin: 0px 0px 20px 0px;
	padding: 5px 15px; 	/* ボックス内左側の余白を指定する */
  border: 2px solid #006DD9;/* ボックスの境界線を実線で指定する */
}

#left_toolbar input[type="radio"]:checked + label {
	background: #31A9EE;/* マウス選択時の背景色を指定する */
	color: #ffffff; 	/* マウス選択時のフォント色を指定する */
}

#left_toolbar input[type="button"]{
	margin: 0px 0px 20px 0px;
}

#left_toolbar_button{
	margin: 40px 0px 20px 0px;
}

#node_connect{
	background-color: #C0C0C0;
  border: solid 2px #696969;
  border-radius : 20px;
  padding : 3px;
  width:150px;
  height:30px;
  font-size: 14px;
}

#distance_check_button , #trans{
  cursor : pointer;
  background-color : #E2EDF9;
  border: 2px solid orange;/* ボックスの境界線を実線で指定する */
  border-radius : 20px;
  padding : 3px;
  width:150px;
  height:30px;
  font-size: 14px;
}

#distance_check_button:hover , #trans:hover{
  background : #31A9EE;
}

#left_toolbar input[type="checkbox"] + label{
	margin: 0px 0px 20px 0px;
}

#left_toolbar_checkbox{
  margin: 60px 0px 0px -10px;
}


/***************
svg描画領域
***************/
#draw_include{
  width:1039.5px;
  height:735px;
  float:left;
  margin-bottom:10px;
  border:#00f 3px solid;
  overflow:hidden;
}

/**************************
right toolbar
**************************/
#right_toolbar{
  float:left;
  margin:0px 0px 0px 30px;
}

/********************
線種変更ラジオボタン
********************/
#stroke_style{
	margin : 0px 0px 10px 20px;
}

#stroke_style label{
  padding: 0px 25px;	/* ボックス内左側の余白を指定する */
  border: 2px solid #006DD9;/* ボックスの境界線を実線で指定する */
}

#stroke_style input[type="radio"]:checked + label {
	background: #31A9EE;/* マウス選択時の背景色を指定する */
	color: #ffffff; 	/* マウス選択時のフォント色を指定する */
}

/********************************************
線幅、墨字、点字、画像透過度変更用スライダー設定
********************************************/
#rightUI_table{
	margin : 0px 0px 30px 0px;
}

#rightUI_table td{
	padding : 3px 3px;
}

#rightUI_table input[type="text"]{
  width:30px;
  height:20px;
  font-size: 100%;
}

#StrokeWidth_Slider,
#resizeInk_Slider,
#resizeBraille_Slider,
#ImageOpacity_Slider{ /* css */
  width:200px;
  height:12px;
}

#StrokeWidth_Slider .ui-slider-handle,
#resizeInk_Slider .ui-slider-handle,
#resizeBraille_Slider .ui-slider-handle,
#ImageOpacity_Slider .ui-slider-handle{
  width:20px;
  height:16px;
  background:#3399ff;
  border:3px solid #00008b;
	margin : 2px 0px 0px -10px;
}

/*
触知記号スタンプ
*/
#stamp_table{
  margin: 30px 0px 0px 30px;
  border-collapse: separate;
  border-spacing: 0px 30px;
}

#stamp_table input[type="radio"] + label{
  padding: 5px 15px; 	/* ボックス内左側の余白を指定する */
  border: 2px solid #003300;/* ボックスの境界線を実線で指定する */
}

#stamp_table input[type="radio"]:checked + label {
	background: #009933;/* マウス選択時の背景色を指定する */
	color: #ffffff; 	/* マウス選択時のフォント色を指定する */
}

/*
レイヤ移動ボタン
*/
#layer_select{
	margin: 0px 0px 30px 10px;
}

#layer_select button{
	margin: 3px;
	width:90px;
  height:32px;
  background-color : #ffffff;
  background-position:center center; /*背景画像の位置*/
  background-repeat:no-repeat; /*背景画像の繰り返し*/
  background-size: contain; /*背景画像のサイズ設定*/
}

#layer_select button:hover{
  border-color: #006DD9;/* ボックスの境界線を実線で指定する */
}

#front_button{
  background-image: url('../images/front.png');
}

#forward_button{
  background-image: url('../images/forward.png');
}

#backward_button{
  background-image: url('../images/backward.png');
}

#back_button{
  background-image: url('../images/back.png');
}

/************************
塗りつぶしボタン
*************************/

#fill_change{
  margin: 0px 0px 30px 10px;
}

#fill_change button:hover{
  border-color: #006DD9;/* ボックスの境界線を実線で指定する */
}

#fill_change button{
  width:80px;
  height:30px;
  background-color: #ffffff;
  background-position:center center; /*背景画像の位置*/
  background-repeat:no-repeat; /*背景画像の繰り返し*/
}

#fill_change td{
  padding: 7px 8px;
}

#fill_change #diagonal_button{
  background-image: url('../images/diagonal.png');
}

#fill_change #white_button{
  background-image: url('../images/white.png');
}

#fill_change #gray_button{
  background-image: url('../images/gray.png');
}

#fill_change #polkadot_button{
  background-image: url('../images/polkadot.png');
}

#fill_change #polkadot_water_button{
  background-image: url('../images/polkadot_water.png');
}

/***********************************
選択状態ボックス変更テキストボックス
************************************/
#resizeBox_textbox{
	margin: 0px 0px 30px 10px;
}

#resizeBox_textbox td{
	padding: 5px;
}

#resizeBox_textbox input[type="text"]{
  width:90px;
  height:30px;
  text-align: center;
	font-size : 100%;
}

#width_slider{ /* css */
  margin :30px 0px 0px 170px;
  width:1040px;
  height:12px;
}

#width_slider .ui-slider-handle{
  margin: 2px 0px 0px -60px;
  width:120px;
  height:16px;
  background:#3399ff;
  border:3px solid #00008b;
}

#height_slider{ /* css */
  margin-left:10px;
  width:12px;
  height:735px;
  float:left;
}

#height_slider .ui-slider-handle{
  margin: 0px -60px 0px 1px;
  width:16px;
  height:120px;
  background:#3399ff;
  border:3px solid #00008b;
}
